body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, #0a0f22, #222);
    color: #ddd;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.standings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #00DDFF;
    padding: 5px;
    box-shadow: 0 0 40px rgba(0, 229, 255, 0.6);
    border-radius: 20px;
    transform: scale(0.85);
    transition: transform 0.3s;
}

.standings-container:hover {
    transform: scale(0.87);
}

.standings-container img {
    width: 100%;   /* This ensures the image takes the full width of its container */
    height: 100%;  /* This ensures the image takes the full height of its container */
    object-fit: cover; /* This ensures the image covers the entire space of its container without distortion */
    /*border-radius: 15px; */
}


.rules-button {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    background-color: #33d9ff;
    color: #0a0f22;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0, 229, 255, 0.4);
}

.rules-button:hover {
    background-color: #1bb1d5;
    transform: translateY(-5px);
    box-shadow: 0 3px 10px rgba(0, 229, 255, 0.5);
}
